<site-layout>
  <@title>Cluster ${input.index}</@title>
  <@content>
    <h1>Cluster ${input.index}</h1>
    <ol>
      <for|star| of=input.stars>
        <li>
          <a href=`../stars/${star.id}.html`>${star.name}</a>
        </li>
      </for>
    </ol>
  </@content>
</site-layout>
