<site-layout>
  <@title>${input.subject}</@title>
  <@content>
    <h1>Cluster ${input.index}</h1>
    <ul>
      <for|star| of=input.stars>
        <li>
          <a href=`../stars/${star.id}.html`>${star.name}</a>
        </li>
      </for>
    </ul>
  </@content>
</site-layout>
