<site-layout>
  <@title>Create fleet</@title>
  <@content>
    <h1>Create fleet</h1>
    <create-fleet ...input/>
    <div.debug>
      <h2>Debug</h2>
      <pre>${JSON.stringify(input, undefined, 2)} </pre>
    </div>
  </@content>
</site-layout>
