<site-layout>
  <@title>Create planet</@title>
  <@content>
    <h1>Create planet</h1>
    <create-planet ...input/>
    <div.debug>
      <h2>Debug</h2>
      <pre>${JSON.stringify(input, undefined, 2)} </pre>
    </div>
  </@content>
</site-layout>
