<!DOCTYPE html>
<html lang="en-US">
  <head>
    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>
      <${input.title}/>
    </title>
    <lasso-head/>
  </head>
  <body>
    <div#container>
      <${input.content}/>
      <footer>
        <a href=`/`>Home</a>
      </footer>
    </div>
    <lasso-body/>
  </body>
</html>
